openai==1.55.3 
fastapi
uvicorn
websockets
python-dotenv
loguru
python-dateutil
pymongo
passlib
python-jose
svix
pyngrok
filetype
pywebpush
boto3
aws_cron_expression_validator
pytz
aiohttp
python-multipart
posthog
mangum
slowapi
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-exporter-otlp
axiom-py
pydantic-ai
pytest-mock
replicate
stripe