openai>=1.40.1
fastapi
uvicorn
websockets
python-dotenv
loguru
python-dateutil
pymongo
passlib
python-jose
svix
pyngrok
filetype
pywebpush
boto3
aws_cron_expression_validator
pytz
aiohttp
python-multipart
posthog
mangum